extends ../layouts/splash

block content
	.logo
	.fullscreen
		.content-a
			.content-b
				.phone
				.content
					h1
						| Discover 
						span the history all around you.
					p Introducing an app that features all of the historic landmarks in the City of Riverside, California.
					p
						a(href='https://itunes.apple.com/us/app/riverside-landmarks/id926478584?mt=8&uo=4&at=10l7gY', target='_blank', title='Download Riverside Landmarks on App Store')
							img(src='images/splash/app-store.svg', width=200)
						| &nbsp; &nbsp;
						a(href='https://play.google.com/store/apps/details?id=com.city_of_riverside.landmarks', target='_blank', title='Download Riverside Landmarks on Google Play')
							img(src='images/splash/google-play.svg', width=200)
	.bottom
		.left
			| A Product of 
			a(href='http://github.com/RiversideLabs', target='_blank') Riverside Labs
		.right
			.handcrafted-by-maven
				| Handcrafted by 
				a.maven(href='http://maven20.com', target='_blank') Maven
