extends ../layouts/splash

block content
	.logo
	.fullscreen
		.content-a
			.content-b
				.phone
				.content
					h1
						| Discover 
						span the history all around you.
					p Introducing an app that features all of the historic landmarks in the City of Riverside, California.
					p
						a(href='https://itunes.apple.com/us/app/riverside-landmarks/id926478584?mt=8&uo=4&at=10l7gY', target='_blank', title='Download Riverside Landmarks on App Store')
							img(src='images/splash/app-store.svg', width=200)
						| &nbsp; &nbsp;
						a(href='https://play.google.com/store/apps/details?id=com.city_of_riverside.landmarks', target='_blank', title='Download Riverside Landmarks on Google Play')
							img(src='images/splash/google-play.svg', width=200)
	.bottom
		.left
			| A Product of 
			a(href='http://github.com/RiversideLabs', target='_blank') Riverside Labs
			| &nbsp; &bull; &nbsp;
			a(href='#', data-toggle='modal', data-target='#notice') Notice
		.right
			.handcrafted-by-maven
				| Handcrafted by 
				a.maven(href='http://maven20.com', target='_blank') Maven
	
	#notice.modal.fade(tabindex='-1', role='dialog', aria-labelledby='noticeLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
					h4#noticeLabel.modal-title Notice
				.modal-body
					p The activity which is the subject of this mobile device application and shareware has been financed in part with Federal funds from the National Park Service, Department of the Interior, through the California Office of Historic Preservation. However, the contents and opinions do not necessarily reflect the views or policies of the Department of the Interior or the California Office of Historic Preservation, nor does mention of trade names or commercial products constitute endorsement or recommendation by the Department of the Interior or the California Office of Historic Preservation.
					p This program receives Federal financial assistance for identification and protection of historic properties. Under Title VI of the Civil Rights Act of 1964, Section 504 of the Rehabilitation Act of 1973, and the Age Discrimination Act of 1975, as amended, the U.S. Department of the Interior prohibits discrimination on the basis of race, color, national origin, disability, or age in its federally assisted programs. If you believe you have been discriminated against in any program, activity, or facility as described above, or if you desire further information, please write to:
					p
						| Office of Equal Opportunity
						br
						| National Park Service
						br
						| 1849 C Street, N.W.
						br
						| Washington, D.C. 20240
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') OK
